@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400&family=Amiri&family=Cormorant+Garamond:wght@300&family=EB+Garamond&display=swap");

.about {
	background-color: hsl(0%, 0%, 87%);
	border: 4px solid yellow;
	/* border-bottom: 1px solid rgba(0, 0, 0, 0.2); */
	text-align: center;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	/* padding-bottom: 5%; */
	height: 75%;
	font-family: "Amiri", serif;
}

.about__text > h1 {
	font-family: "Amiri", serif;
	font-weight: 400;
	font-size: 4rem;
	line-height: 1.4;
	letter-spacing: -0.025em;
}

::selection {
	background: hsl(8, 95%, 57%);
	color: white;
}

#akanksha {
	color: hsl(8, 95%, 57%);
}

@media screen and (max-width: 800px) {
	.about__text > h1 {
		font-family: "Amiri", serif;
		font-weight: 400;
		font-size: 2em;
		line-height: 1.4;
		letter-spacing: -0.025em;
	}
}
