@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400&family=Cormorant+Garamond:wght@300&family=EB+Garamond&display=swap");
.project__description {
	/* margin-top: 50px; */

	border: 4px solid blue;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	letter-spacing: 0.8px;
	margin-bottom: 10%;
	margin-top: 5%;
	margin-left: 10%;
	gap: 0.5%;
}

.project__name {
	border: 2px solid yellowgreen;
	/* margin: 0px 0px 10px; */
	font-size: 1.8em;
	/* font-size: 2.5vw; */
	line-height: 1.1;
	color: black;
	font-family: "Cormorant Garamond", serif;
	font-weight: bold;
	width: max-content;
}

.project__name:hover {
	opacity: 1;
	color: hsl(8, 95%, 57%);
}

.box {
	border: 1px solid hsl(8, 95%, 87%);
	/* background-color: hsl(8, 95%, 87%); */
	/* z-index: 2;
	position: absolute; */
	/* margin-top: 2%; */
	width: 105%;

	font-size: 0.9em;
	/* font-size: 1.25vw; */
	letter-spacing: 0.8px;
	font-family: "Alegreya Sans", sans-serif;
	color: hsl(0, 0%, 40%);
	color: black;
	margin-top: 6%;
	font-weight: 400;
	border-radius: 5px;
	padding: 13px;
	position: relative;
	z-index: 2;
}

.box:hover {
	border: 1px solid hsl(8, 95%, 57%);
}

.project__card__description {
	border: 2px solid blue;
	background-color: hsl(0, 0%, 90%);
	border-radius: 5px;
	padding: 5px;
}

/* font-family: "Cormorant Garamond", serif; */

.project__technologies {
	display: flex;
	border: 1px solid turquoise;
	gap: 20px;
	/* margin-top: 41%; */
	padding: 5px;
	padding-top: 10px;
	font-size: 0.8em;
	padding-left: 0px;
	color: black;
	font-family: "Alegreya Sans", sans-serif;
	font-weight: 600;
}

.project__link__icons {
	display: flex;
	border: 1px solid turquoise;
	gap: 20px;
	padding-top: 5px;
	justify-content: flex-start;

	align-items: center;
	text-decoration: none;
	padding: 5px;
	padding-top: 10px;
	font-size: 0.8em;
	padding-left: 0px;
	/* margin-top: 45%; */
}

.description {
	display: none;
}
.gitlab__link,
.external {
	text-decoration: none;
}
@media screen and (max-width: 600px) {
	.project__description {
		/* margin-top: 50px; */

		border: 4px solid blue;
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		/* padding-bottom: 150px; */
		letter-spacing: 0.8px;
		margin-bottom: 0%;
		margin-right: 0%;
		margin-top: 0%;
		margin-left: 0%;
		gap: 2%;
	}
	.box {
		display: none;
	}

	.description {
		display: flex;
		width: 100%;
		border: 1px solid hsl(8, 95%, 87%);
		color: black;
		padding: 5px;
		font-family: "Alegreya Sans", sans-serif;
		justify-content: flex-start;
		font-size: 0.9em;
	}

	.project__name {
		font-size: 1.8em;
	}
}
