@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400&family=Cormorant+Garamond:wght@300&family=EB+Garamond&display=swap");
.project__description {
	margin-top: 50px;
	/* border: 1px solid #999999; */

	flex: 1;
	padding-top: 80px;
	display: flex;
	flex-direction: column;
	padding-bottom: 150px;
	letter-spacing: 0.8px;
}

.project__name {
	margin: 0px 0px 10px;
	font-size: 1.2em;
	line-height: 1.1;
	color: black;
	font-family: "Cormorant Garamond", serif;
	font-size: 38px;
	font-weight: bold;
	border-bottom: 1px solid black;
	width: max-content;
	/* padding-bottom: 2px; */
	border-width: 2px;
	/* opacity: 0.5; */
}

.project__name:hover {
	/* color: #b46e53; */
	/* color: #5e2d1f; */

	opacity: 1;

	/* border-bottom: 1px solid black;
	border-width: 2px; */
}

.project__card__description {
	/* border: 1px solid blue;
	padding: 20px 0px;
	background-color: transparent;

	position: absolute;
	margin-top: 60px;
	width: 600px;
	font-size: 0.9em;
	letter-spacing: 0.8px;
	font-family: "Alegreya Sans", sans-serif;
	color: hsl(0, 0%, 40%);
	padding-right: 10px;
	font-weight: 400;
	border-radius: 5px;
	padding-left: 10px; */

	padding: 20px 0px;
	background-color: transparent;
	z-index: 2;
	position: absolute;
	margin-top: 60px;
	width: 600px;
	font-size: 0.9em;
	letter-spacing: 0.8px;
	font-family: "Alegreya Sans", sans-serif;
	color: black;
	background-color: #b7c6c9;
	font-weight: 400;
	border-radius: 5px;
	padding-left: 10px;
}

/* font-family: "Cormorant Garamond", serif; */

.project__technologies {
	display: flex;
	/* border: 1px solid turquoise; */
	gap: 20px;
	margin-top: 115px;
	padding: 5px;
	padding-top: 10px;
	font-size: 0.8em;
	padding-left: 0px;
	color: #a4a4a4;
	font-family: "Alegreya Sans", sans-serif;
	font-weight: 600;
}

.project__link__icons {
	display: flex;
	border: 1px solid turquoise;
	gap: 20px;
	padding-top: 5px;
}

.project__link__icons a svg {
	width: 20px;
	height: 20px;
	justify-content: center;
}
.project__links__icons a.external svg {
	width: 22px;
	height: 22px;
	margin-top: -4px;
}
