@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400&family=Cormorant+Garamond:wght@300&family=EB+Garamond&display=swap");
.project__description {
	margin-top: 50px;
	/* border: 1px solid #999999; */

	flex: 1;
	padding-top: 80px;
	display: flex;
	flex-direction: column;
	padding-bottom: 150px;
	letter-spacing: 0.8px;
}

.project__name {
	margin: 0px 0px 10px;
	font-size: 1.2em;
	line-height: 1.1;
	color: black;
	font-family: "Cormorant Garamond", serif;
	font-size: 38px;
	font-weight: bold;
	/* border-bottom: 1px solid black; */
	width: max-content;
	/* padding-bottom: 2px; */
	border-width: 2px;
	/* padding-left: 13px; */
	/* opacity: 0.5; */
}

.project__name:hover {
	/* color: #b46e53; */
	/* color: #5e2d1f; */

	opacity: 1;
	color: hsl(8, 95%, 57%);
	/* border-bottom-color: hsl(8, 95%, 57%); */

	/* border-bottom: 1px solid black;
	border-width: 2px; */
}

.box {
	border: 1px solid hsl(8, 95%, 87%);
	/* background-color: hsl(8, 95%, 87%); */
	z-index: 2;
	position: absolute;
	margin-top: 70px;
	width: 520px;
	font-size: 0.9em;
	letter-spacing: 0.8px;
	font-family: "Alegreya Sans", sans-serif;
	color: hsl(0, 0%, 40%);
	color: black;

	font-weight: 400;
	border-radius: 5px;
	padding: 13px;
}

.box:hover {
	border: 1px solid hsl(8, 95%, 57%);
}

.project__card__description {
	/* padding: 20px 0px;
	background-color: transparent;
	z-index: 2;
	position: absolute;
	margin-top: 60px;
	width: 600px;
	font-size: 0.9em;
	letter-spacing: 0.8px;
	font-family: "Alegreya Sans", sans-serif;
	color: black;
	background-color: #b7c6c9;
	font-weight: 400;
	border-radius: 5px;

	padding-left: 10px; */
	/* border: 2px solid blue; */
	background-color: hsl(0, 0%, 90%);
	border-radius: 5px;
	padding: 5px;
}

/* font-family: "Cormorant Garamond", serif; */

.project__technologies {
	display: flex;
	/* border: 1px solid turquoise; */
	gap: 20px;
	margin-top: 165px;
	padding: 5px;
	padding-top: 10px;
	font-size: 0.8em;
	padding-left: 0px;
	color: black;
	font-family: "Alegreya Sans", sans-serif;
	font-weight: 600;
}

.project__link__icons {
	display: flex;
	/* border: 1px solid turquoise; */
	gap: 20px;
	padding-top: 5px;
	justify-content: flex-start;

	align-items: center;
}
