/* #project__image__id {
	flex: 1.3;
} */

.work {
	background-color: hsl(0%, 0%, 87%);
	display: flex;
	justify-content: center;
	/* align-items: center; */
	border: 4px solid palevioletred;
	display: flex;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	padding-top: 5%;
	padding-bottom: 5%;
	overflow-x: hidden;
}

.work__box {
	border: 4px solid yellowgreen;
	width: 100%;
	display: flex;
}

@media screen and (max-width: 600px) {
	.work {
		height: 100vh;
		display: flex;
		justify-content: center;
		/* align-items: center; */
		border: 4px solid palevioletred;
		display: flex;
		width: 100vw;
		height: 100vh;
		padding: 5%;
	}

	.work__box {
		display: flex;
		flex-direction: column-reverse;
		justify-content: flex-start;
		align-items: flex-start;
	}
}
